In [1]:
#importando o banco de dados, io(imput e output) e PIL
import sqlite3
import io
from PIL import Image

In [3]:
#conecta com o banco de dados, se não existir ele cria
conexao = sqlite3.connect('uracan.db')
cursor = conexao.cursor()

In [5]:
#cria a tabela de carros se não existir
criar_tabela = 'Create table IF Not Exists Carro (id_carro Integer Primary Key Autoincrement, modelo Varchar(50) Not Null, preco Float, foto Blob)'
cursor.execute(criar_tabela)

In [7]:
#função para ler a imagem e retornar o conteúdo da foto como binário
def ler_imagem(caminho_foto):
    with open(caminho_foto, 'rb') as file:
        return file.read()

In [34]:
#função para ler o arquivo .txt e inserir dados no banco
def ler_e_inserir_dados(caminho_arquivo):
    with open(caminho_arquivo, 'r', encoding='utf-8') as file:
        for linha in file:
            #remove espaços em branco ou caracteres de nova linha extras no início e no final da linha
            linha = linha.strip()
            #ignorar linhas vazias
            if linha: #divide a linha em três partes (modelo, preco, caminho_foto), usando o caractere ; como separador 
                modelo, preco, caminho_foto = linha.split(';')
                
                # Carregar a imagem como BLOB
                foto_blob = ler_imagem(caminho_foto)
                
                # Inserir dados no banco, incluindo a foto como BLOB
                cursor.execute('INSERT INTO Carro (modelo, preco, foto) VALUES (?, ?, ?) ', (modelo, preco, foto_blob))
        
        conexao.commit()
        print("Dados e fotos inseridos com sucesso!")

In [36]:
#acessa o banco de dados, recupera os registros da tabela Carro e exibe os dados na tela
def listar_dados():
    cursor.execute("SELECT modelo, preco, foto FROM Carro")
    registros = cursor.fetchall()
    #percorre o cursor fetchall, atribui os valores de cada coluna do registros às variáveis abaixo
    for registro in registros:
        modelo, preco, foto_blob = registro
        print(f"Modelo: {modelo}, preco: {preco}")
        
        #verifica se o campo foto não está vazio(none) e exibe a foto
        if foto_blob:
            exibir_foto(foto_blob)

In [38]:
#função para exibir a imagem
def exibir_foto(in_blob):
    imagem = Image.open(io.BytesIO(in_blob))
    imagem.show() # Exibe a imagem

In [42]:
#TESTE
#caminho do arquivo .txt
caminho_arquivo = 'C:/Users/Suporte/joel/dados.txt'
ler_e_inserir_dados(caminho_arquivo)

#listar
listar_dados()
# Fechar a conexão
conexao.close()

Dados e fotos inseridos com sucesso!
Modelo: Urus_Mansory, preco: 1000000.0
Modelo: Gol_G3, preco: 20000.0
Modelo: Macan, preco: 300000.45
Modelo: Tiger_Triumph, preco: 72001.0
Modelo: Urus_Mansory, preco: 1000000.0
Modelo: Gol_G3, preco: 20000.0
Modelo: Macan, preco: 300000.45
Modelo: Tiger_Triumph, preco: 72001.0
Modelo: Urus_Mansory, preco: 1000000.0
Modelo: Gol_G3, preco: 20000.0
Modelo: Macan, preco: 300000.45
Modelo: Tiger_Triumph, preco: 72001.0
Modelo: Urus_Mansory, preco: 1000000.0
Modelo: Gol_G3, preco: 20000.0
Modelo: Macan, preco: 300000.45
Modelo: Tiger_Triumph, preco: 72001.0
Modelo: Urus_Mansory, preco: 1000000.0
Modelo: Gol_G3, preco: 20000.0
Modelo: Macan, preco: 300000.45
Modelo: Tiger_Triumph, preco: 72001.0

In [ ]:
cursor.execute('drop table')

In [49]:
#jeito melhor de inserir vários itens
#comando_inserir = 'insert into Carro values (?, ?, ?)'

In [51]:
#registros = [('porshe carrera', 150000.5, ),
#             ('chrysler', 100000, ),
#            ('gol g3', 20000, )]

In [53]:
#jeito melhor de inserir itens pt.2
#for registro in registros:
#    cursor.execute(comando_inserir, registro)
#conexao.commit()

In [55]:
#listar = 'select * from Carro'
#cursor.execute(listar)
#dados = cursor.fetchall()

In [59]:
# %d = decimal e %s = string
#for linha in dados:
#    print('ID: %d, Modelo: %s, Preço: %.2f, Foto: %'% linha)

ID: 1, Modelo: lamborghini urus, Preço: 1000000.00
ID: 2, Modelo: porshe carrera, Preço: 150000.50
ID: 3, Modelo: chrysler, Preço: 100000.00
ID: 4, Modelo: gol g3, Preço: 20000.00

In [111]:
#def listar_carros():
#    cursor.execute('select * from Carro')
#    for linha in cursor.fetchall():
#        print(f'{linha}')

In [113]:
#listar_carros()

(1, 'lamborghini urus', 1000000.0)
(2, 'porshe carrera', 150000.5)
(3, 'chrysler', 100000.0)
(4, 'gol g3', 20000.0)

In [115]:
Commitar e fechar tudo
conexao.commit()
cursor.close()
conexao.close()